.zoneImg {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;     
  margin: 0 auto; 
  overflow: visible; 
}

.decor {
  position: relative;
  width: clamp(130px, 22vw, 220px);
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  transform: translateY(-5%);
  z-index: 2;
}

.photoCv {
  position: relative;
  width: 87%;
  height: 55%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 3;  
}

.cadre {
  position: absolute;
  width: 140%;
  object-fit: contain;
  pointer-events: none;
  z-index: 2;
  transform: translateX(-1.9%) translateY(0.5%);
}

@media (max-width: 523px) {
  .cadre {
  transform: translateX(-1.9%) translateY(0.8%);
 }
}


  



