.postit img {
  display: block;
  width: 100%;
  height: auto;
}

/* **** COTE GAUCHE **** */

.postit1 {
  width: 220px;
  transform: translateY(-20px) translateX(45px);
}

.postit2-fr {
  width: 140px;
  transform: translateY(22px) translateX(95px);
}

/* **** COTE DROIT **** */

.postit3 {
  width: 230px;
  transform: translateY(-17px)translateX(-20px);
}

.postit4 {
  width: 155px;
  transform: translateY(-15px) translateX(33px);
}

.postit5 {
  width: 150px;
  transform: translateY(10px) translateX(10px);
}

/* *** MEDIAS QUERYS *** */

@media (max-width: 850px) {

  .postit1 {
    width: 180px;
    transform: translateY(-20px) translateX(30px);
  }

  .postit2-fr {
    width: 105px;
    transform: translateY(22px) translateX(70px);
  }

  .postit3 {
    width: 190px;
  }

  .postit4 {
    width: 125px;
    transform: translateY(-16px) translateX(35px);
  }

  .postit5 {
    width: 120px;
    transform: translateY(7px) translateX(10px);
  }
}

@media (max-width: 750px) {

  .postit1 {
    width: 155px;
    transform: translateY(-20px) translateX(30px);
  }

  .postit2-fr {
    width: 90px;
    transform: translateY(22px) translateX(70px);
  }

  .postit3 {
    width: 170px;
    transform: translateY(-10px) translateX(-28px);
}

  .postit4 {
    width: 110px;
    transform: translateY(-10px) translateX(30px);
  }

  .postit5 {
    width: 108px;
  }
}

@media (max-width: 600px) {

  .postit1 {
    width: 138px;
    transform: translateY(-10px) translateX(30px);
  }

  .postit2-fr {
    width: 90px;
    transform: translateY(18px) translateX(60px);
  }

  .postit3 {
    width: 150px;
}

  .postit4 {
    width: 100px;
    transform: translateY(-10px) translateX(15px);
  }

  .postit5 {
    width: 103px;
    transform: translateY(7px) translateX(-7px);
  }
}

@media (max-width: 500px) {

  .postit1 {
    width: 135px;
    transform: translateY(-10px) translateX(25px);
  }

  .postit2-fr {
    width: 87px;
    transform: translateY(18px) translateX(60px);
  }

  .postit3 {
    width: 135px;
  }

  .postit4 {
    width: 97px;
    transform: translateY(-7px) translateX(1px);
  }

  .postit5 {
    width: 97px;
    transform: translateY(7px) translateX(-17px);
  }
}

@media (max-width: 480px) {

  .postit1 {
    width: 120px;
  }

  .postit2-fr {
    width: 80px;
    transform: translateY(18px) translateX(54px);
  }

  .postit3 {
    width: 125px;
  }

  .postit4 {
    width: 92px;
  }

  .postit5 {
    width: 90px;
  }
}

@media (max-width: 460px) {

  .postit1 {
    width: 115px;
  }
  .postit4 {  
    transform: translateY(-7px) translateX(-3px);
  }
}

@media (max-width: 440px) {

  .postit1 {
    width: 110px;
  }

  .postit2-fr {
    width: 75px;
  }

  .postit3 {
    width: 120px;
  }

  .postit4 {
    width: 90px;
  }

  .postit5 {
    width: 85px;
  }
}

@media (max-width: 420px) {

  .postit1 {
    width: 105px;
  }

  .postit3 {
    width: 115px;
  }

  .postit4 {
    width: 85px;
  }

  .postit5 {
    width: 80px;
  }
}



