.postits {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.postit1 {
  position: absolute;
  width: 200%;
  top: -10%;
  right: 50%;
}

.postit2 {
  position: absolute;
  width: 150%;
  top: 5%;
  left: 100%;
}

@media (max-width: 750px) {

  .postit1 {
    right: 33%;
  }

  .postit2 {
    top: 8%;
    left: 88%;
  }
}

@media (max-width: 580px) {

  .postit1 {
    width: 190%;
    top: -8%;
    right: 33%;
  }

  .postit2 {
    width: 140%;
    top: 10%;
    left: 87%;
  }
}
