.accueil-page .introduction {
  font-size: 17px;
  margin-inline: 7%;
  margin-bottom: 0;
}

.accueil-page h1 {
  font-size: 6vw;
  font-family: "Brush Script MT", cursive;
  color: rgb(243, 162, 124);
  transform: translateX(2.5%);
}

.accueil-page p {
  font-family: "calibri";
  color: rgb(243, 162, 124);
  text-align: justify;
}

.presentation {
  font-size: 17px;
  margin-inline: 7%;
  margin-bottom: 0;
}

@media (max-width: 750px) {

  .accueil-page .introduction {
    font-size: 16px;
  }

  .presentation {
    font-size: 16px;
  }
}

@media (max-width: 590px) {

  .accueil-page .introduction {
    font-size: 15px;
  }

  .presentation {
    font-size: 15px;
  }
}

@media (max-width: 523px) {

  .accueil-page .introduction {
    font-size: 14px;
  }

  .accueil-page h1 {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
  }

  .presentation {
    font-size: 14px;
  }
}

@media (max-width: 490px) {

  .accueil-page .introduction  {
    font-size: 13px;
    
  }
  .presentation {
    font-size: 13px;
  }
}

@media (max-width: 417px) {

  .presentation,
  .accueil-page .introduction  {
    font-size: 12px;
  }
}