.accueil-page .introduction {
  font-size: 17px;
  padding-inline: 30px;
}

.accueil-page h1 {
  font-size: 6vw;
  font-family: "Brush Script MT", cursive;
  color: rgb(243, 162, 124);
}

.accueil-page p {
  font-family: "calibri";
  color: rgb(243, 162, 124);
  text-align: justify;
}

.presentation {
  font-size: 17px;
  margin-inline: 70px;
}

@media (max-width: 550px) {

  .accueil-page .introduction {
    font-size: 16px;
  }

  .presentation {
    font-size: 16px;
  }
}

@media (max-width: 523px) {

  .accueil-page .introduction {
    font-size: 14px;
  }

  .presentation {
    font-size: 14px;
  }
}