.page-cv body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* MAIN */
.page-cv {
  display: flex !important;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;   
  align-items: stretch; 
  color: black;
  background-color: white;
}

.parcours {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  flex: 1 1 auto;                
  min-width: 0;      /* ← évite les bizareries en flex */
  margin-bottom: 2vw;
}

.zone-titre {
  margin-top: 6vw;
  margin-bottom: 6vw;
  width: 75%;
  background-color: #E1AAA9;
  text-align: center; 
  font-family: "Californian FB";
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.titre-nom {
  font-size: 4vw;
  font-weight: bold;
  display: inline-block;       
  border-bottom: 2px solid black; 
  padding-bottom: 0vw;          
  margin-bottom: 1vw;          
}

.metier {
  font-size: 6.5vh;
}

.zone-presentation {
  width: 100%; 
  text-align: justify;
  background-color:  #A6A6A6;
  font-family: "calibri";
  padding-top: 2.2vw;
  padding-bottom: 2.2vw;
  padding-inline: 3vw;
  margin-bottom: 9vh;
  font-size: 3.3vh;
}

.titre-parcours {
  width: 70%; 
  text-align: center;
  background-color: #E1AAA9;
  font-family: "Californian FB";
  margin-top: 2vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-weight: bolder;
}

.detail-parcours{
  width: 70%;
  display: flex;
  text-align: start;
  font-family: "Calibri";
  margin-top: 7vh;
}

.diplome {
  font-weight: bold;
  list-style: none;  
  margin: 0;
  padding: 0;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 70%;
  font-family: "Calibri";
  margin-top: 7vh;
  padding-inline: 4vh;
}

.job {
  display: flex;
  flex-direction: column;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2vh;
}

.job-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5vh; 
  flex-wrap: wrap;
  font-weight: bold;
}

.job-title em {
  font-style: italic;
}

.job-title em::before {
  content: "–";
  margin: 0 0.5ch;
}

.job-info {
  text-align: right;
  font-size: 2.5vh;
}

.job-info .italic {
  font-style: italic;
}

.date {
  margin: 0;
}

.detail-parcours .ul-parcours {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-cv aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 25vw; 
  transition: flex-basis 0.4s ease, max-width 0.4s ease;
  width: 25vw;
  margin-left: 0;
  text-align: center;
  background: #A6A6A6;
  height: auto;
  align-items: center;
}

.div-photo {
  position: relative;
  width: 14vw;          
  aspect-ratio: 1 / 1;   
  margin-top: 7vh;
  margin-bottom: 3vh;
  margin-left: 1vh;
}

.photo-profil {
  width: 100%;
  height: 100%;
}

.titre-aside {
  background-color: #E1AAA9;
  border :solid 2px black;
  font-family: "californian FB";
  color: black;
  width: 80%;      
  margin-inline: auto; 
  margin-bottom: 3vh;
  margin-top: 6vh;
  padding: 1vh 0;
}

.renseignements {
  text-align: left;   
  width: 80%;         
  margin: 0 auto;     
  padding-inline: 2vh;
  font-family: "calibri";
  font-size: 3.3vh;
}

.renseignements ul {
  list-style: none;   
  margin: 0;
  padding: 0;         
}

.renseignements li {
  margin: 5px 0;      
}

.competence {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 12px;
}

.competence .nom {
  font-weight: bold;
}

.niveau {
  display: flex;
  gap: 6px; 
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333; 
  display: inline-block;
}

.dot.filled {
  background-color: #333; 
}

.aside-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  margin-top: 20px;
}

.btn-download,
.btn-lang {
  padding: 8px 16px;
  border: solid, black;
  border-radius: 6px;
  cursor: pointer;
  background-color: #E1AAA9;
  color: black;             
  font-weight: bold;
  text-decoration: none; 
  text-align: center;
}

/* FIN MAIN */

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: clamp(12px, 2.5vw, 40px);
  padding: 20px clamp(16px, 4vw, 60px);
  box-sizing: border-box;
  background: #A6A6A6;
  height: auto;      
  min-height: 140px; 
  flex-wrap: nowrap; 
  flex-shrink: 0;
  margin-bottom : -5vw;
}

footer > .bloc-gauche {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: flex-start;
  gap: 18px;
  align-self: center; 
  color: black
}

footer > .titre2,
footer > .logo-footer {
  flex: 0 0 auto; 
}

.titre2 {
  display: flex;
  align-items: center;
  font-family: "Brush Script MT", cursive;
  height: 100%;
}

.titre2,
.coordonees {
  display: flex;          
  align-items: center;    
  align-self: center;     
  height: auto;           
}

.titre2 h2 {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.coordonees {
  font-family: "Times New Roman", serif;
}

.footer-cv .logo-footer .losange { 
  width: 121px; 
  height: 121px; 
  margin-right: 40px; 
  background: rgb(143, 130, 137);
  border: 4px solid #b93960;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-right: clamp(8px, 4vw, 60px); 
}

.footer-cv .logo-footer .losange img {
  width: 72%;
  height: auto;
  transform: rotate(-45deg);
  display: block;
}

/* Ajustements internes */
.footer-cv .coordonees {
  font-family: "Time-new-roman";
  font-size: clamp(13px, 1.4vw, 15px);
  margin-top: 6px;
  font-weight: bold;
  line-height: 1.2;
}

.liens {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  justify-content: center;
  margin-right: 0;
  align-content: center;
  padding-top: 2vw;
  margin-right: -10px;
}

.footer-cv .liens a, .liens-legaux {
  text-align: right;
  font-size: 2.5vh;
  color: black;
}

/* Réseaux sociaux */

.footer-cv .reseaux { 
  display:flex; 
  gap:12px; 
  margin-right: 25px;
}

.reseaux img { 
  width: clamp(40px, 5.2vw, 55px); height: auto; 
  border-radius:50%; 
}

/* Copyright */
.copyright { 
  font-size: 2.2vh; 
  margin-top: auto;
  color: black;
 }

/* ====== MEDIA QUERIES  ====== */

/* ≤ 1200 */
@media (max-width: 1260px) {

  .page-cv aside {
    flex: 0 0 29vw;
    max-width: 29vw;
  }

  .footer-cv { 
    padding: 23px 40px; 
    gap: 20px; 
  }

  .footer-cv .logo-footer .losange { 
    width: 121px; 
    height: 121px; 
    margin-right: 40px; 
  }

  .footer-cv .reseaux {
    margin-right: 14px;
  }
}

@media (max-width: 1180px) {
  .page-cv aside {
    flex: 0 0 31vw;
    max-width: 31vw;
  }
}

@media (max-width: 1015px) {
  .page-cv aside {
    flex: 0 0 33vw;
    max-width: 33vw;
  }
}

@media (max-width: 950px) {

  .job-header {
    margin-bottom: 2vh;
  }

  .job-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .job-title em::before {
    content: ""; /* supprime le tiret */
    margin: 0;
  }

  .div-photo {
    width: 16vw;
    margin-top: 5vh;
    margin-bottom: 0vh;
  }

  .renseignements {
    font-size: 2.9vh;
  }

  .aside-buttons {
    margin-top: 75px;
  }

 .footer-cv {
    display: flex;
    align-items: center !important; 
    flex-direction: row;            
    justify-content: space-between;
    flex-wrap: nowrap;          
    gap: 14px;
    padding: 23px 18px;
  }

  .bloc-gauche {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important; 
    justify-content: center;
    align-self: center !important;       
  }

  .bloc-gauche .titre2,
  .bloc-gauche .coordonees {
    width: 100%;
    text-align: left;
    height: auto !important;
  }

  .bloc-gauche,
  .liens {
    flex: 1 1 auto;             
    min-width: 110px;
  }

  .footer-cv .logo-footer {
    flex: 0 0 auto;            
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
  }

  .footer-cv .logo-footer .losange {
    margin-right: 0 !important;   
  }

  .liens {
    margin-right: 10px;
  }

  .footer-cv .reseaux {
    margin-right: 30px;
  }
}

@media (max-width: 850px) {
  
  .zone-presentation {
    font-size: 3vh; 
    line-height: 1.3;
    padding: 3.5vh 2vw;
    transition: all 0.4s ease;
    height: auto;
    max-height: 60vh;
  }

  .page-cv aside {
    flex: 0 0 35vw;
    max-width: 35vw;
  }

  .renseignements-img img {
    max-width: 78%; 
    transition: all 0.3s ease;
  }

  .renseignements {
    font-size: 2.5vh;
  }

  .dot {
    width: clamp(6px, 1.4vw, 11px);
    height: clamp(6px, 1.4vw, 11px);
    transition: all 0.3s ease;
  }

  .div-photo {
    width: 17vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
  }

  .titre-aside {
    margin-top: 3vh;
  }

  .footer-cv {
    padding-inline: 10px;
  }

  .liens a {
    flex-shrink: 1 !important;
    font-size: 15px;
    white-space: nowrap;
  }

  .liens a,
  .liens-legaux {
    display: block;            
    margin-bottom: 6px;
  }

  .separator {
    display: none;
  }

  .reseaux {
    margin-right: 0;
  }
}

 @media (max-width: 750px) {

  footer {
    align-items: flex-start;  
  }

  .liens {     
    display: block;            
    text-align: right;         
    margin-top: 10px;          
    padding-top: 0;
  }

  .liens a {
    flex-shrink: 1 !important;
    font-size: clamp(10px, 1.2vw, 12px);
    white-space: nowrap;
  }

  .liens a,
  .liens-legaux {
    display: block;            
    margin-bottom: 6px;
    font-size: 14px !important;
  }

  .reseaux {
    justify-content: flex-end; 
    margin-top: 8px;
  }

  .reseaux img {
    width: clamp(24px, 6vw, 40px) !important;  /* logos réactifs */
    height: auto;
    flex-shrink: 1 !important;
  }

  .copyright {
    font-size: 11px;
  }
 }

 @media (max-width: 745px) {

  .zone-presentation {
    font-size: 2.6vh; 
  }

  .div-photo {
    width: 17vw;
  }

  .titre-aside {
    padding: 0vh 0;
    margin-top: 3vh;
  } 
}

@media (max-width: 700px) {

  .zone-presentation {
    line-height: 1.3;
    padding: 3.5vh 2vw;
    transition: all 0.4s ease;
    height: auto;
    max-height: 60vh;
  }

   .job-title {
    font-size: 2.7vh;
  }

   .job-info {
    font-size: 11px;
    margin-top: 3px;
   }

  .ul-parcours {
    margin: 0 !important;   
    padding: 0 !important;  
    text-indent: 0; 
    font-size: 3vh;
  }

  .ul-parcours li {
    margin: 0 !important;        
    padding: 0 !important;
  }

  .page-cv aside {
    flex: 0 0 36vw;
    max-width: 36vw;
  }

  .div-photo {
    width: 18vw;
    margin-top: 3vh;
    margin-bottom: 0vh;
  }

  .titre-aside {
    margin-top: 3vh;
  }

  .dot {
    width: clamp(5px, 1.3vw, 10px);
    height: clamp(5px, 1.3vw, 10px);
  }

  .experience {
    margin-bottom: 3vh;
  }
}

@media (max-width: 665px) {

  .metier {
    font-size: 5vh;
  }

  .titre-aside {
        margin-top: 3vh;
    }
}

@media (max-width: 605px) {
  
  .zone-presentation {
    font-size: 2.3vh;
  }
}
