/* MEDIA QUERY 1360PX SAFE POUR BUILD */

/* purgecss start ignore */
@media (max-width: 1370px) {

  .accueil-page .header,
  .projet-page .header {
    height: 280px; 
  }

  .vShape { 
    clip-path: polygon(0 0, 100% 0, 50% 48%); 
  }

  .accueil-page .navBar,
  .projet-page .navBar { 
    top: 25%; 
    gap: 36px; 
  }

  .monNavLink { 
    font-size: 20px; 
  }

  .accueil-page header .losangeFR, 
  .accueil-page header .losangeEN {
    width: 93px; 
    height: 93px;
    margin-bottom: 3px; 
  }

  .projet-page header .losangeFR,
  .projet-page header .losangeEN {
    width: 100px; 
    height: 100px;
    margin-bottom: 3px; 
  }

  .accueil-page footer,
  .projet-page footer,
  .footer-cv { 
    padding: 20px 40px; 
    gap: 20px; 
  }

  .accueil-page .footer .losangeFR, 
  .accueil-page .footer .losangeEN,
  .footer-cv .losangeFR,
  .footer-cv .losangeEN { 
    width: 125px !important; 
    height: 125px !important; 
    margin-left: 50px;  
  }

  .projet-page .logo-footer .losange {
    width: 125px !important; 
    height: 125px !important; 
  }
}

@media (max-width: 1050px) {

  .accueil-page .logo-footer .losange,
  .projet-page .logo-footer .losange,
  .footer-cv .losange { 
    width: 118px !important; 
    height: 118px !important; 
  }
}

@media (max-width: 1000px) {

  .accueil-page .header .losangeFR,
  .accueil-page .header .losangeEN {
    width: 90px !important;
    height: 90px !important;
    margin-bottom: 8px;
    position: relative;
    left: 0;
  }
  .projet-page .header .losangeFR,
  .projet-page .header .losangeEN {
    width: 95px;
    height: 96px;
    margin-bottom: 8px;
    left: 0;
  }
}

@media (max-width: 980px) {
 .footer-cv .losange {
    width: 115px !important ;
    height: 115px !important;
  }
}

@media (max-width: 870px) {
  .accueil-page .logo-footer .losange,
  .projet-page .logo-footer .losange
  { 
    width: 105px !important; 
    height: 105px !important; 
  }

  .footer-cv .losangeFR {
    width: 120px !important;
    height: 120px !important;
    margin-top: 22px !important;
  }

  .footer-cv .losangeEN {
    width: 115px !important;
    height: 115px !important;
    margin-top: 22px !important;
  }
}

@media (max-width: 830px) {

  .accueil-page .logo-footer .losange {
    width: 107px !important; 
    height:107px !important; 
    margin-left: 28px;
  }

  .projet-page .logo-footer .losange {
    width: 106px !important; 
    height:106px !important; 
  }
}

  @media (max-width: 820px) {

  .footer-cv .losange {
    width: 115px !important; 
    height: 115px !important; 
  } 
}

@media (max-width: 778px) {
  .projet-page .logo-footer .losange {
    width: 105px !important; 
    height:105px !important; 
  }
}

@media (max-width: 740px) {

  .accueil-page .header {
    height: 230px;
    margin-top: 0;
  }

  .accueil-page .header .losangeFR,
  .accueil-page .header .losangeEN {
    width: 75px !important;
    height: 75px !important;
  }
  
  .accueil-page .logo-footer .losangeFR,
  .projet-page .logo-footer .losange {
    width: 103px !important; 
    height:103px !important; 
  }

  .footer-cv .losange { 
    width: 110px !important; 
    height:110px !important; 
  }
}

@media (max-width: 700px) {
  .accueil-page .logo-footer .losangeFR {
    position: relative;
    left: -5px;
  }

  .footer-cv .losange {
    margin-left: 35px !important;
  }
}

@media (max-width: 678px) {
  .accueil-page .logo-footer .losangeEN {
    width: 105px !important;
    height: 105px !important;
  }
}

@media (max-width: 660px) { 
  
  .footer-cv .losange {
    margin-top: 20px !important;
  }
}

@media (max-width: 640px) {
  .accueil-page .logo-footer .losangeEN,
  .projet-page .logo-footer .losange
   {
    width: 103px !important; 
    height:103px !important; 
  }
}

@media (max-width: 625px) {
  .footer-cv .losange {
    width: 107px !important; 
    height:107px !important; 
  }
}

@media (max-width: 615px) { 
  .footer-cv .losange {
    width: 105px !important;
    height: 105px !important;
    margin-top: 22px !important;
  }
}

@media (max-width: 606px) {
  .accueil-page .logo-footer .losangeFR {
    width: 102px !important;
    height: 102px !important;
  }
}

@media (max-width: 593px) {
  .footer-cv .losange {
    width: 103px !important;
    height: 103px !important;
  }
}

@media (max-width: 580px) {
  .accueil-page .footer .losangeFR {
    width: 97px !important;
    height: 97px !important;
  }
  .footer-cv .losangeFR {
    width: 97px !important;
    height: 97px !important;
  }
  .projet-page header .losangeFR,
  .projet-page header .losangeEN {
    width: 95px !important; 
    height: 95px !important; 
    left: 0;
  }
  .projet-page .logo-footer .losangeFR {
    width: 100px !important;
    height: 100px !important;
  }
  .projet-page .logo-footer .losangeEN {
    width: 103px !important;
    height: 103px !important;
  }
}

@media (max-width: 570px) {
.accueil-page .logo-footer .losangeEN {
    width: 98px !important; 
    height:98px !important;
  } 

.projet-page .header .losangeEN {
    left: 1px;
  }  
}

@media (max-width: 565px) {
.projet-page .header .losangeEN {
    left: 2px;
  }
}

@media (max-width: 560px) {

  .accueil-page .language-switcher
   {
    left: 45px;
    }

  .footer-cv .losangeEN {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (max-width: 550px) {
  .accueil-page .header .losangeFR
   {
    left: 14px;
  }
  .projet-page .header .losangeFR {
    left: 14px;
  }
  .accueil-page .header .losangeEN {
    left: 2px;
  }
}

@media (max-width: 540px) {
  .projet-page header .losangeFR,
  .projet-page header .losangeEN {
    left: 0;
  }
}

@media (max-width: 530px) {

  .footer-cv .coordonees {
    font-size: 12px;
  }
  .liens-legaux-FR {
    font-size: 2vh !important;
  }
}

@media (max-width: 518px) {
  .projet-page .logo-footer .losangeFR {
    width: 97px !important;
    height: 97px !important;
  }
  .projet-page .logo-footer .losangeEN {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (max-width: 510px) {
  .accueil-page .language-switcher {
    left: 40px;
  }
}

@media (max-width: 500px) {
  .footer-cv .losange {
    width: 97px !important;
    height: 97px !important;
  }
}

@media (max-width: 490px) {
  .accueil-page .footer .losangeFR {
    width: 92px !important;
    height: 92px !important;
  }
}
  /* purgecss end ignore */



  
