/* MEDIA QUERY 1300PX SAFE POUR BUILD */

/* purgecss start ignore */
@media (max-width: 1300px) {
  .accueil-page .header { height: 280px; }
  .vShape { clip-path: polygon(0 0, 100% 0, 50% 48%); }
  .navBar { top: 25%; gap: 36px; }
  .accueil-page .losangeFR, 
  .accueil-page.losangeEN { width: 100px; height: 100px; margin-top: 4px; }
  .monNavLink { font-size: 20px; }
}
/* purgecss end ignore */