/* MEDIA QUERY 1360PX SAFE POUR BUILD */

/* purgecss start ignore */
@media (max-width: 1370px) {

  .accueil-page .header,
  .projet-page .header {
    height: 280px; 
  }

  .vShape { 
    clip-path: polygon(0 0, 100% 0, 50% 48%); 
  }

  .accueil-page .navBar,
  .projet-page .navBar { 
    top: 25%; 
    gap: 36px; 
  }

  .monNavLink { 
    font-size: 20px; 
  }

  .accueil-page header .losangeFR, 
  .accueil-page header .losangeEN {
    width: 100px !important; 
    height: 100px !important; 
    margin-top: 4px !important;
  }

  .projet-page header .losangeFR,
  .projet-page header .losangeEN {
     width: 105px !important; 
    height: 105px !important; 
  }

  .accueil-page footer,
  .projet-page footer,
  .footer-cv { 
    padding: 20px 40px; 
    gap: 20px; 
  }

  .accueil-page .footer .losangeFR, 
  .accueil-page .footer .losangeEN,
  .footer-cv .losangeFR,
  .footer-cv .losangeEN { 
    width: 125px !important; 
    height: 125px !important; 
    margin-left: 50px;  
  }

  .projet-page .logo-footer .losange {
    width: 125px !important; 
    height: 125px !important; 
  }
}

@media (max-width: 1050px) {

  .accueil-page .logo-footer .losange,
  .projet-page .logo-footer .losange,
  .footer-cv .losange { 
    width: 118px !important; 
    height: 118px !important; 
  }
}

@media (max-width: 980px) {
 .footer-cv .losangeEN {
    width: 103px !important ;
    height: 103px !important;
  }
}

@media (max-width: 870px) {
  .accueil-page .logo-footer .losange,
  .projet-page .logo-footer .losange
  { 
    width: 100px !important; 
    height: 100px !important; 
  }

  .footer-cv .losangeFR {
    width: 125px !important;
    height: 125px !important;
    margin-top: 16px !important;
  }

  .footer-cv .losangeEN {
    width: 112px !important;
    height: 112px !important;
    margin-top: 13px !important;
  }
}

@media (max-width: 830px) {

  .accueil-page .logo-footer .losange {
    width: 107px !important; 
    height:107px !important; 
  }

  .projet-page .logo-footer .losange {
    width: 106px !important; 
    height:106px !important; 
  }

  .footer-cv .losangeEN { 
    width: 110px !important; 
    height: 110px !important; 
  }
}

@media (max-width: 778px) {
  .projet-page .logo-footer .losange {
    width: 105px !important; 
    height:105px !important; 
  }
}

@media (max-width: 740px) {
  .accueil-page .logo-footer .losange,
  .projet-page .logo-footer .losange {
    width: 100px !important; 
    height:100px !important; 
  }

  .footer-cv .losangeEN { 
    width: 103px !important; 
    height:103px !important; 
  }

  .footer-cv .losangeFR { 
    width: 120px !important; 
    height:120px !important; 
  }
}

@media (max-width: 660px) { 
  .footer-cv .losange {
    width: 115px !important; 
    height:115px !important; 
  }
}

@media (max-width: 615px) { 
  .footer-cv .losange {
    width: 100px !important;
    height: 100px !important;
    margin-top: 22px !important;
    margin-left: 0;
  }
}

@media (max-width: 560px) {
  .footer-cv .losange {
    width: 97px !important;
    height: 97px !important;
    margin-left: 12px;
  }
}

@media (max-width: 530px) {

  .footer-cv .coordonees {
    font-size: 12px;
  }
  .liens-legaux-FR {
    font-size: 2vh !important;
  }
}
  /* purgecss end ignore */



  
