.bloc-gauche {
  display: flex;
  flex-direction: column;
  align-items: center; 
  align-self: center;      
  justify-content: flex-start;
  gap: 10px;
  color: black;
}

.bloc-gauche .titre2 {
  display: flex;
  align-items: center;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  height: 100%;
}

.bloc-gauche .titre2 h2 {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.bloc-gauche .coordonees {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 2;
  margin-top: 6px;
}

.bloc-gauche .titre2,
.bloc-gauche .coordonees {
  width: 100%;
  text-align: left;
  height: auto;
}

@media (max-width: 950px) {
  .bloc-gauche .coordonees {
    font-size: 15px;
  }
}

@media (max-width: 800px) {

  .bloc-gauche {
    gap: 15px;
  }

  .bloc-gauche .coordonees {
    font-size: 13px;
  }
}

@media (max-width: 700px) {

  .bloc-gauche {
    gap: 13px;
    padding-top: 5px;
  }
  
  .bloc-gauche .coordonees {
    line-height: 1;
    display: flex;            
    flex-direction: column;     
    align-items: flex-start;        
  }

  .bloc-gauche .coordonees .span-mail {
    display: block;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .bloc-gauche .coordonees {
    font-size: 11px;
  }
}

@media (max-width: 470px) {

  .bloc-gauche .titre2 {
    font-size: 18px;
  }

  .bloc-gauche .coordonees {
    font-size: 10px;
  }
}

@media (max-width: 450px) {

  .bloc-gauche {
    padding-top: 3px;
  }
}

@media (max-width: 400px) {

  .bloc-gauche {
    min-width: 0;
    gap: 2px;
  }

  .bloc-gauche .titre2 {
    font-size: 17px;
    padding-top: 5px;
  }
  
  .bloc-gauche .coordonees {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    line-height: 1;
    margin-top: 10px;
    white-space: nowrap;
  }

  .bloc-gauche .coordonees br {
    display: block;
  }

  .bloc-gauche .coordonees .span-tel {
    display: block;
  }

  .bloc-gauche .coordonees .span-mail {
    white-space: nowrap;
    font-size: 0.75em;
    word-break: break-word;
  }
}
