footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 3px clamp(16px, 4vw, 60px);
  box-sizing: border-box;
  background-color: rgb(243, 162, 124);
  min-height: 140px;
  margin-top: auto;
}

@media (max-width: 600px) {

  footer {
    min-height: 130px;
  }
}

@media (max-width: 450px) {
  
   footer {
    min-height: 115px;
  }
}

@media (max-width: 400px) {
  
  footer {
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    min-height: 100px;
    padding-top: 0;
    padding-bottom: 0;
  }
}



