.accueil-page .header,
.projet-page .header {
  position: relative;
  width: 100%;
  height: 150px;
  min-height: 185px;
  display: grid;
  align-items: start;
  overflow: hidden;
  margin-bottom: 10px;
}

@media (max-width: 670px) {
  .accueil-page .header, 
  .projet-page .header {
   height: 150px;
   min-height: 170px;
   margin-bottom: 0;
 }
}

@media (max-width: 550px) {
  .accueil-page .header, 
  .projet-page .header {
   min-height: 150px;
 }
}

@media (max-width: 490px) {

  .accueil-page .header, 
  .projet-page .header {
    height: 120px;
    min-height: 145px;
  }
}