.navBar {
  position: relative;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%; 
  z-index: 3;
  font-family: Comic sans MS;
}

.navBar .navLeft,
.navBar .navRight {
  flex: 1; 
  display: flex;
  align-items: center;
  position: absolute;
}

.navLeft {
  right: 63%;
  transform: translateX(-60px); 
}

.navRight {
  left: 60%;
  transform: translateX(60px);
}

/* Liens */
.monNavLink {
  color: black;
  font-weight: bold;
  font-size: clamp(16px, 2.5vw, 22px);
  text-decoration: none;
  white-space: nowrap;
}

/* =========================
          RESPONSIVE 
   ========================= */

@media (max-width: 1200px) {

  .monNavLink {
  font-size: 17px;
  }
}

@media (max-width: 1000px) {
  
  .monNavLink {
    font-size: 15px;
  }
}

@media (max-width: 900px) {

  .monNavLink {
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .monNavLink {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .monNavLink {
    font-size: 12px;
    font-weight: bolder;
  }
}

@media (max-width: 670px) {
  .navRight {
    left: 56%;
  }
}

@media (max-width: 600px) {
  .monNavLink {
    font-size: 11px;
  }
  .navRight {
    left: 56%;
  }
}

@media (max-width: 550px) {

  .navBarFR .navLeft {
    right: 57%;
 }
  .navBarEN .navLeft {
    right: 51%;
  }
  .navBarFR .navRight {
    left: 52%;
  }
  .navBarEN .navRight {
    left: 51%;
  }
}

@media (max-width: 490px) {
  .navBarFR .navRight {
    left: 47%;
  }
  
  .navBarEN .navRight {
    left: 48%;
  }
  .navBarFR .navLeft {
    right: 53%;
  }
}

@media (max-width: 460px) {
  .monNavLink {
    font-size: 10px;
  }
  .navBarEN .navLeft {
    right: 49%;
  }
  .navBarEN .navRight {
    left: 46%;
  }
}

@media (max-width: 430px) {
  .navBarFR .navLeft {
    right: 50%;
  }
  .navBarFR .navRight {
    left: 45%;
  }
}

@media (max-width: 400px) {
  .navBarFR .navRight {
    left: 43%;
  }
  .navBarEN .navLeft {
    right: 44%;
  }
  .navBarEN .navRight {
    left: 42%;
  }
}

@media (max-width: 380px) {
  .monNavLink {
    font-size: 9px;
  }
}




