.vShape {
  position: relative;
  width: 100%;
  height: 77%;
  background-color: rgb(243, 162, 124);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .vShape {
    height: 70%;
  }
}

@media (max-width: 670px) {
  .vShape {
    height: 67%;
  }
}
 
@media (max-width: 490px) {
  .vShape {
    height: 60%;
  }
}

@media (max-width: 400px) {
  .vShape {
    height: 55%;
  }
}